# dependencies
node_modules

# build output, caches and reports
dist
coverage
.turbo
*.tsbuildinfo
*.tgz

# logs
*.log

# editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# system files
.DS_Store
Thumbs.db
